/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  background-image: url("imgAbout/bgr.jpg");
 background-color: #cccccc;
 color: white;
 font-family: Raleway;
}
body .page-columns {
    display: grid;
    gap: 0;
    grid-template-columns: [screen-start] 0em [screen-start-inset] 1fr [page-start page-start-inset] 0px [body-start-outset] 0px [body-start] 1.5em [body-content-start] minmax(300px, calc(850px - 3em)) [body-content-end] 1.5em [body-end] 0px [page-end-inset] 0px [page-end] 1fr [screen-end-inset] 0em [screen-end];
}

.navbar-expand-lg{
  font-size: 40px;
  font-weight: 500;
}

.navbar-brand {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  line-height: @navbar-height
  
}

.navbar-title{
  font-size: 50px;
}

.bi{
  line-height: 65px;
  vertical-align: text-bottom;
  font-size: 30px;
  right: 60px;
  bottom: 50px;
  width: 50px;
}

.navbar-dark {
  background-color: #cccccc00;
}

.pixgallery-image-grid{
  border: 3px solid #ffffff;
}

.slbCaption {
  background: #ffffff;
  font-size: 30px ;
  font-weight: 600 ;
  padding: 10px ;
  color: black ;
}


    border: 10px solid #885800;
    border-left: 15px solid #793434a8;
    border-right: 15px solid #cc27276b;
    
    -webkit-mask-image: radial-gradient(ellipse at center, white 60%, transparent, 93%, transparent 100%);
